[workspace]
members = [
    "farms",
    "common"
]
[profile.release]
lto = "fat"
codegen-units = 1
panic = "abort"
[profile.release.build-override]
opt-level = 3
incremental = false
codegen-units = 1 